* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
}

.sidebar {
  background-color: #0ea5e9;
  grid-column: 1 / 2;
  grid-row: 1 / 8;
  color: white;
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
}

.sidebar ul li .mdi {
  margin-right: 10px;
}

/* .header {
  background-color: #fff;
    display: grid;
}

input {
  width: 700px;
  height: 40px;
  border: none;
  background-color: #e0f2fe;
  border-radius: 8px;
}

*/

.maincontent {
  display: grid;
  background-color: #e0f2fe;
  grid-column: 2 / 16;
  grid-row: 2 / 16;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 10px;
  margin-top: 70px;
  margin-left: 20px;
}

.box {
  border: 1px solid black;
  
}

.item1 {
  background-color: blue;
  grid-column: 1 / 5;
  grid-row: 1 / 5;
}

.item2 {
  background-color: red;
  grid-column: 6 / 10;
  grid-row: 1 / 5;
}

.item3 {
  background-color: green;
  grid-column: 1 / 5;
  grid-row: 6 / 10;
}

.item4 {
  background-color: blueviolet;
  grid-column: 6 / 10;
  grid-row: 6 / 10;
}

.item5 {
  background-color: aquamarine;
  grid-column: 1 / 5;
  grid-row: 11 / 15;
}

.item6 {
  background-color: brown;
  grid-column: 6 / 10;
  grid-row: 11 / 15;
}

.item7 {
  background-color: black;
  grid-column: 12 / 16;
  grid-row: 1 / 7;
}

.item8 {
  background-color: burlywood;
  grid-column: 12 / 16;
  grid-row: 9 / 15;
}
