* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
}

.sidebar {
  background-color: #0ea5e9;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  color: white;
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
}

.sidebar ul li .mdi {
  margin-right: 10px;
}


/* .header {
  background-color: #fff;
    display: grid;
}

input {
  width: 700px;
  height: 40px;
  border: none;
  background-color: #e0f2fe;
  border-radius: 8px;
}

*/

.maincontent {
  background-color: #e0f2fe;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(1, 2fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 5px;
  
}

.box {
  border: 1px solid black;
  height: 10rem;
  display: grid;
}

